<h1 style="color: green;">
    {{var1 | customMessage:var2:var3}}
</h1>


<h1 style="color: red;">{{wish | reverse}}</h1>
<h1>{{var_ten | async}}</h1>
<h1>{{var_nine | percent}}</h1>
<h1>{{var_eigth | slice:1:-2}}</h1>
<h1>{{var_eigth | slice:1:-1}}</h1>
<h1>{{var_eigth | slice:1}}</h1>
<h1>{{var_eigth | slice:0:4}}</h1>
<h1>{{var_eigth | slice:1:3}}</h1>
<h1>{{var_seven | number:'4.2-4'}}</h1>
<h1>{{var_seven | number:'3.1-2'}}</h1>
<h1>{{var_six | currency:"EUR"}}</h1>
<h1>{{var_six | currency:"GBP"}}</h1>
<h1>{{var_six | currency}}</h1>
<h1>{{var_five | json}}</h1>
<h1>{{var_four | date:'shortTime'}}</h1>
<h1>{{var_four | date:'fullDate'}}</h1>
<h1>{{var_four | date:'medium'}}</h1>
<h1>{{var_four | date:'short'}}</h1>
<h1>{{var_four | date:'MM/dd/yyyy'}}</h1>
<h1>{{var_four | date:'dd-MMM-yy'}}</h1>
<h1>{{var_four | date:'dd-MM-yy'}}</h1>
<h1>{{var_three | titlecase}}</h1>
<h1>{{var_two | lowercase}}</h1>
<h1>{{var_one | uppercase}}</h1>